
.empty{
    height: 400px;
}
.address-form{
    font-size: 16px;
    padding: 20px;
    background: rgba(255,255,255,0.3);
}
.choose{
    margin-bottom: 30px;
}
.address-form input[name='adr']{
    margin-left: 30px;
}

.info select{
    width: 200px;
    height: 40px;
    line-height: 50px;
    font-size: 20px;
    color: #dfdfdf;
    border: solid 2px #808080;
    margin-bottom: 10px;
}